<div class="card">
    <div class="head">
        <h2> WHAT IS JAVA?</h2>
    </div>
    <div class="body">
        <p>JAVA IS PROGRAMMING LANGUAGE AND A PLATFORM CREATED IN 1995 BY SUN MICROSYSTEMS.

            IT IS OWNED BY ORACLE AND HAS HUGE COMMUNITY SUPPORT.
            
            JAVA IS HIGH LEVEL ,ROBUST,OBJECT-ORIENTED AND SECURE PROGRAMMING LANGUAGE.
            
            IT IS OPEN SOURCE AND FREE.
            
            IT CAN BE WRITTEN ONCE AND RUN ANYWHERE IT HAS RUNTIME ENVIRONMENT(JRE) AND API.
            
        </p>
    </div>
</div>