<div class="container">
    <div class="card p-5 bg-light shadow m-3">
        <h1>SCDL JAVA LEARNING TUTORIAL</h1>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <div class="head">
            <h2>WHAT IS JAVA SCDL LEARNING TUTORIAL</h2>
        </div>
        <div class="body">
            <p>SCDL java learning tutorial is a web based application.The main purpose is to provide convenient and easy
                way for user to run this system and easily provide notes for learning .
            </p>
        </div>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <div class="head">
            <h2> WHAT IS JAVA?</h2>
        </div>
        <div class="body">
            <p>JAVA IS PROGRAMMING LANGUAGE AND A PLATFORM CREATED IN 1995 BY SUN MICROSYSTEMS.
    
                IT IS OWNED BY ORACLE AND HAS HUGE COMMUNITY SUPPORT.
                
                JAVA IS HIGH LEVEL ,ROBUST,OBJECT-ORIENTED AND SECURE PROGRAMMING LANGUAGE.
                
                IT IS OPEN SOURCE AND FREE.
                
                IT CAN BE WRITTEN ONCE AND RUN ANYWHERE IT HAS RUNTIME ENVIRONMENT(JRE) AND API.
            </p>
        </div>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <h1>JAVA VERSION HISTORY:-</h1>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <div class="head">
        </div>
        <div class="body">
            <p>JDK ALPHA AND BETA(1995) <br>
                JDK 1.1(19TH FEB 1997)  <br>
                JDK 1.0(23rd JAN 1996)  <br>
                J2SE 1.2(8TH DEC 1998)  <br>
                J2SE 1.3(8TH MAY 2000)  <br>
                J2SE 1.4(6TH FEB 2002)  <br>
                J2SE 5.0(30 TH SEP 2004)  <br>
                JAVA SE 6(11TH DEC 2006)  <br>
                JAVA SE 7(28TH JULY 2011)  <br>
                JAVA SE 8 (18TH MAR 2014)  <br>
                JAVA SE 9(21st SEP 2017)  <br>
                JAVA SE 10(20TH MAR 2018)  <br>
                JAVA SE 11,12,13,14(2020)  <br>
                
            </p>
        </div>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <div class="head">
            <h2>FEATURES OF JAVA</h2>
        </div>
        <div class="body">
            <p> 1.SIMPLE  <br>
               2. OBJECT – ORIENTED LANGUAGE <br>
               3. PLATFORM INDEPENDENT <br>
                4.SECURED <br>
              5.  INTERPRETED <br>
                6.HIGH PERFORMANCE <br>
               7. MULTITHREADED <br>
                
            </p>
        </div>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <h1>JAVA DEVELOPMENT PROCESS</h1>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <div class="head">
        </div>
        <div class="body">
          <img src="../../../assets/Screenshot 2023-05-25 000243.png" alt="">
        </div>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <div class="head">
            <h2> DATA TYPE</h2>
        </div>
        <div class="body">
            <img src="../../../assets/Screenshot 2023-05-25 001020.png" alt="">
        </div>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <h1>variable</h1>
    </div>
    <div class="card p-5 bg-light shadow m-3">
       
        <div class="body">
            <p>A variable is the name of a reserved area allocated in memory. In other words, 
                it is a name of the memory location.
                It is a combination of "vary + able" which means its value can be changed.
        </div>
        <div><img src="../../../assets/Screenshot 2023-05-25 001340.png" alt=""></div>
    </div>
    <div class="card p-5 bg-light shadow m-3">
        <div class="head">
            <h2>SIMPLE EXAMPLE OF VARIABLE</h2>
        </div>
        <div class="body">
            <p>
                <img src="../../../assets/Screenshot 2023-05-25 005004.png" alt="">
            </p>
        </div>
    </div>
    <div class="container">
        <div class="card p-5 bg-light shadow m-3">
            <h1>OPERATORS</h1>
        </div>
        <div class="card p-5 bg-light shadow m-3">
            <div class="head">
                <h2>Operator is a symbol which is used to perform operations.
                    </h2>
            </div>
            <div class="body">
                <p>SCDL java learning tutorial is a web based application.The main purpose is to provide convenient and easy
                    way for user to run this system and easily provide notes for learning .
                </p>
            </div>
        </div>
        
        <div class="card p-5 bg-light shadow m-3">
            <div class="head">
                <h2>KEYWORDS IN JAVAS</h2>
            </div>
            <div class="body">
                <p>
                    <img src="../../../assets/Screenshot 2023-05-25 005636.png" alt="">
                </p>
            </div>
        </div>

        <div class="container">
            <div class="card p-5 bg-light shadow m-3">
                <h1>Flow diagram for if else statement </h1>
            </div>
            <div class="card p-5 bg-light shadow m-3">
                <div class="head">
                    <h2><img src="../../../assets/Screenshot 2023-05-25 010111.png" alt="">.
                        </h2>
                </div>
                <div class="body">
                    <p>SCDL java learning tutorial is a web based application.The main purpose is to provide convenient and easy
                        way for user to run this system and easily provide notes for learning .
                    </p>
                </div>
            </div>
            
            <div class="card p-5 bg-light shadow m-3">
                <div class="head">
                    <h2>If else :-</h2>
                </div>
                <div class="body">
                    <p>
                       <img src="../../../assets/Screenshot 2023-05-25 010322.png" alt="">
                    </p>
                </div>
            </div>

            <div class="container">
                <div class="card p-5 bg-light shadow m-3">
                    <h1>Flow diagram for if else if statement </h1>
                </div>
                <div class="card p-5 bg-light shadow m-3">
                    <div class="head">
                        <h2><img src="../../../assets/Screenshot 2023-05-25 010111.png" alt="">.
                            </h2>
                    </div>
                    <div class="body">
                        <p>SCDL java learning tutorial is a web based application.The main purpose is to provide convenient and easy
                            way for user to run this system and easily provide notes for learning .
                        </p>
                    </div>
                </div>
                
                <div class="card p-5 bg-light shadow m-3">
                    <div class="head">
                        <h2>If- else -if:-</h2>
                    </div>
                    <div class="body">
                        <p>
                            //if(condition1)
                           <img src="../../../assets/Screenshot 2023-05-25 010927.png" alt="">
                        </p>
                    </div>
                </div>

                <div class="container">
                    <div class="card p-5 bg-light shadow m-3">
                        <h1>Switch </h1>
                    </div>
                    <div class="card p-5 bg-light shadow m-3">
                        <div class="head">
                            <h2><img src="../../../assets/Screenshot 2023-05-25 012834.png" alt="">.
                                </h2>
                        </div>
                        <div class="body">
                            <p>
                                when you have multple option then you can used the switch case 
                                switch case makes our code easy and simple 
                    
                            </p>
                        </div>
                    </div>
                    
                    <div class="card p-5 bg-light shadow m-3">
                        <div class="head">
                            <h2>While Loops</h2>
                        </div>
                        <div class="body">
                            <p>
                               While Loop
                               <img src="../../../assets/Screenshot 2023-05-25 013556.png" alt="">
                            </p>
                        </div>
                    </div>

                    <div class="container">
                        <div class="card p-5 bg-light shadow m-3">
                            <h1>Do While LoopL</h1>
                        </div>
                        <div class="card p-5 bg-light shadow m-3">
                            <div class="head">
                                <h2>Syntax of Do while LoopL</h2>
                            </div>
                            <div class="body">
                                <p>
                                    <img src="../../../assets/Screenshot 2023-05-25 013725.png" alt="">
                                </p>
                            </div>
                        </div>
                        <div class="container">
                        <div class="card p-5 bg-light shadow m-3">
                            <h1>Do While LoopL</h1>
                        </div>
                        <div class="card p-5 bg-light shadow m-3">
                            <div class="head">
                                <h2>Syntax of Do while LoopL</h2>
                            </div>
                            <div class="body">
                                <p>
                                    <img src="../../../assets/Screenshot 2023-05-25 013725.png" alt="">
                                </p>
                            </div>
                        </div>
                        <div class="card p-5 bg-light shadow m-3">
                            <div class="head">
                                <h2> </h2>
                            </div>
                            <div class="body">
                                <p>JAVA IS PROGRAMMING LANGUAGE AND A PLATFORM CREATED IN 1995 BY SUN MICROSYSTEMS.
                        
                                    IT IS OWNED BY ORACLE AND HAS HUGE COMMUNITY SUPPORT.
                                    
                                    JAVA IS HIGH LEVEL ,ROBUST,OBJECT-ORIENTED AND SECURE PROGRAMMING LANGUAGE.
                                    
                                    IT IS OPEN SOURCE AND FREE.
                                    
                                    IT CAN BE WRITTEN ONCE AND RUN ANYWHERE IT HAS RUNTIME ENVIRONMENT(JRE) AND API.
                                </p>
                            </div>
                        </div>

                        <div class="container">
                            <div class="card p-5 bg-light shadow m-3">
                                <div class="head">
                                    <h2> About Array</h2>
                                </div>
                                <div class="body">
                                    <p>      
                                         1.  fixed-size sequential collection of elements of the same type. <br>
                                        2.collection of similar type of data items stored at contiguous memory locations. <br>
                                        3.store the primitive type of data such as int, char, double, float, etc. <br>
                                        4.each data element can be randomly accessed by using its index number. <br>
                                        5.The lowest address corresponds to the first element and the highest address to the last element. <br>
                                    </p>
                                </div>
                            </div>   
                            <div class="card p-5 bg-light shadow m-3">
                                <h1>Array</h1>
                            </div>
                            <div class="card p-5 bg-light shadow m-3">
                                <div class="head">
                                    <h2>Types of Array</h2>
                                </div>
                                <div class="body">
                                    <p>
                                        1.One dimensional Array <br>
                                        2.Two dimensionalArray. <br>
                                        3,Multi Dimensional Array. <br>
                                
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="card p-5 bg-light shadow m-3">
                                <div class="head">
                                    <h2> One Dimensional Array</h2>
                                </div>
                                <div class="body">
                                    <p>      
                              <img src="../../../assets/Screenshot 2023-05-25 014844.png" alt="">
                                    </p>
                                </div>
                            </div> 
                            
                            <div class="container">
                                <div class="card p-5 bg-light shadow m-3">
                                    <div class="head">
                                        <h2>Two Dimensional Array</h2>
                                    </div>
                                    <div class="body">
                                        <p>      
                                  <img src="../../../assets/Screenshot 2023-05-25 014844.png" alt="">
                                        </p>
                                    </div>
                                </div>    
                                
                                <div class="container">
                                    <div class="card p-5 bg-light shadow m-3">
                                        <div class="head">
                                            <h2>Multi Dimensional Array</h2>
                                        </div>
                                        <div class="body">
                                            <p>   
                                                int arr[][][]=new int[2][2][2];

                   
                                            </p>
                                        </div>
                                    </div> 
                              
</div>
